<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.devcodenet.devbarcode" >

<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.INTERNET"/>
<uses-feature android:name="android.hardware.camera" />
</manifest>